---
layout: compress
---
<!doctype html>

{% include origin-type.html %}

{% include lang.html %}

{% if site.theme_mode %}
  {% capture prefer_mode %}data-mode="{{ site.theme_mode }}"{% endcapture %}
{% endif %}

<!-- `site.alt_lang` can specify a language different from the UI -->
<html lang="{{ page.lang | default: site.alt_lang | default: site.lang }}" {{ prefer_mode }}>
  {% include head.html %}

  <body>
    <div class="flex-main">
      {% include new-sidebar.html lang=lang %}
      <div class="flex-mainarea">
        {% include topbar.html lang=lang %}

        <main aria-label="Main Content">
          {% if layout.refactor or layout.layout == 'default' %}
            {% include refactor-content.html content=content lang=lang %}
          {% else %}
            {{ content }}
          {% endif %}
        </main>

        <!-- panel -->

        <!-- tail -->
        {% for _include in layout.tail_includes %}
          {% assign _include_path = _include | append: '.html' %}
          {% include {{ _include_path }} lang=lang %}
        {% endfor %}

        {% include_cached new-footer.html lang=lang %}

        {% include_cached search-results.html lang=lang %}
        <aside aria-label="Scroll to Top">
          <button id="back-to-top" type="button" class="btn btn-lg btn-box-shadow">
            <i class="fas fa-angle-up"></i>
          </button>
        </aside>
      </div>

      <div class="recent-changes">
        <div class="access">
          {% include_cached update-list.html lang=lang %}
          {% include_cached trending-tags.html lang=lang %}
        </div>

        {% for _include in layout.panel_includes %}
          {% assign _include_path = _include | append: '.html' %}
          {% include {{ _include_path }} lang=lang %}
        {% endfor %}
      </div>
    </div>
  </body>
</html>
